body {
  margin: 0;
}

main {
  background-color: #020D1D;
  height: 100vh;
}

.circle {
  position: absolute;
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.logo {
  background-color: red;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
}

.site1 .circle {
  background-color: blue;
  transform: translate(400%, 400%);
}

.site2 .circle {
  background-color: green;
  transform: translate(250%, 250%);
}

.site3 .circle {
  background-color: yellow;
  transform: translate(150%, 150%);
}

.site4 .circle {
  background-color: orange;
  transform: translate(50%, 50%);
}

.orbite {
  position: absolute;
  top: 50%;
  left: 50%;
  transform-origin: center;
  transform: translate(-50%, -50%);
}

.site1{
  animation: rotate 10s linear infinite;
}

.site2{
  animation: rotate 7s linear infinite;
}

.site3{
  animation: rotate 5s linear infinite;
}

.site4{
  animation: rotate 2s linear infinite;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  
  100% {
    transform: rotate(360deg);
  }
}
